/*reset*/

body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
dl,
dt,
dd,
input {
    margin: 0;
    padding: 0;
    font-size: 0.24rem;
    font-weight: normal;
    font-family: "Microsoft YaHei";
    -webkit-appearance: none;
}

ul,
ol {
    list-style: none;
}

img {
    border-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

a:hover {

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    zoom: 1;
}
/*oppo*/
.oppo {
    width: 4.36rem;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    padding: 0.28rem 0.1rem;
    position: fixed;
    top: 50%;
    margin-top: -0.5rem;
    left: 50%;
    margin-left: -2.18rem;
    font-size: 0.3rem;
    line-height: 0.44rem;
    text-align: center;
    border-radius: 0.08rem;
    color: #fff;
    z-index: 99;
}